<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WSWD.WmallPos.POS.Utils.Properties.Settings.WmallDB"
            connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.2.7)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=Wmallmis)));User Id=WSDB;Password=wonshinDB1!;" />
    </connectionStrings>
</configuration>